<div
  class="xs:mr-4 relative my-2 mr-2 flex min-h-0 min-w-0 grow flex-col border bg-white font-light sm:mr-8"
  id="chat"
>
  <div
    id="chat-conversation"
    class="flex min-h-0 min-w-0 grow flex-col overflow-x-clip overflow-y-auto p-2 text-xl sm:pr-10 md:pr-18"
  >
    <div class="chat-me">
      <p class="header">Me:</p>
      <p class="content">Yooooo</p>
    </div>
    <div class="chat-you">
      <p class="header">You:</p>
      <p class="content">Heyyy how's it going</p>
    </div>
  </div>
  <form
    id="chat-form"
    class="xs:pr-5 flex h-7 w-full flex-row items-center gap-2 bg-gray-900 p-1 pr-2 md:pr-20"
  >
    <input
      id="chat-input"
      type="text"
      class="h-full w-full rounded-xl bg-white py-1 pl-2 text-xl"
      placeholder="chat..."
    />
    <button
      class="xs:w-10 h-5 w-7 cursor-pointer items-center rounded-3xl bg-white text-xl leading-6.5"
      type="submit"
    >
      ➭
    </button>
  </form>
</div>
