<div class="relative flex flex-col">
  <h1 class="hidden text-6xl leading-6 sm:block">Title</h1>
  <h2 class="hidden pl-1 text-2xl leading-8 sm:block">Subtitle</h2>
  <h3 class="pl-1 text-lg leading-1 text-red-800">Heading</h3>
</div>
