<div
  id="menu"
  class="sticky top-0 left-0 z-50 mt-5 flex h-6 w-full flex-row items-center bg-gray-900 pl-6 text-2xl leading-6 text-white sm:mt-10"
>
  <div class="group relative" id="menu-file">
    <button
      id="menu-file-button"
      class="cursor-pointer border-gray-900 px-3 group-aria-expanded:border-t group-aria-expanded:bg-white group-aria-expanded:text-gray-900"
    >
      File
    </button>
    <div
      class="top-6 hidden min-w-30 flex-col border border-gray-900 bg-white text-gray-900 group-aria-expanded:absolute group-aria-expanded:flex"
    >
      <button
        id="menu-music-button"
        class="pl-4 text-left hover:outline hover:outline-gray-900"
      >
        Music
      </button>
      <a href="#" class="pl-4 hover:outline hover:outline-gray-900">Demo 2</a>
      <a href="#" class="pl-4 hover:outline hover:outline-gray-900">Demo 3</a>
    </div>
  </div>

  <div class="group relative" id="menu-edit">
    <button
      id="menu-edit-button"
      class="cursor-pointer border-gray-900 px-3 group-aria-expanded:border-t group-aria-expanded:bg-white group-aria-expanded:text-gray-900"
    >
      Edit
    </button>
    <div
      class="top-6 hidden min-w-30 flex-col border border-gray-900 bg-white text-gray-900 group-aria-expanded:absolute group-aria-expanded:flex"
    >
      <a href="#" class="pl-4 hover:outline hover:outline-gray-900">Demo 1</a>
      <a href="#" class="pl-4 hover:outline hover:outline-gray-900">Demo 2</a>
      <a href="#" class="pl-4 hover:outline hover:outline-gray-900">Demo 3</a>
    </div>
  </div>
</div>
