---
import { Image } from "astro:assets";
import borderImage from "../images/border2.png";
---

<div
  id="music-modal"
  aria-hidden="true"
  class="absolute z-100 mt-20 block w-full max-w-130 self-center align-middle aria-hidden:hidden"
>
  <Image
    src={borderImage}
    class="pointer-events-none absolute z-50 h-full w-full group-aria-hidden:hidden"
    alt="music border"
  />
  <div class="bg-window-teal relative mx-2 mt-6 mb-1 px-2 pt-2 pb-1">
    <iframe
      data-testid="embed-iframe"
      style="border-radius: 0px"
      src="https://open.spotify.com/embed/playlist/34kVdppdUEqB5Dn99qDRst?utm_source=generator&si=3d2c38185ba44f98"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="
                  autoplay;
                  clipboard-write;
                  encrypted-media;
                  fullscreen;
                  picture-in-picture;
                "
      loading="lazy"></iframe>
  </div>
</div>
