<div
  id="portrait"
  class="group xs:mr-4 max-xs:aria-hidden:-left-6 relative z-50 mr-2 aspect-square! h-full shrink-0 overflow-hidden aria-expanded:absolute aria-expanded:h-full aria-expanded:w-full aria-hidden:w-10 max-sm:aria-hidden:absolute max-sm:aria-hidden:-left-10 sm:mr-8 sm:aria-hidden:w-20"
>
  <img
    src="./assets/images/border2.png"
    class="absolute h-full w-full group-aria-hidden:hidden"
  />
  <img
    src="./assets/images/closed.gif"
    class="absolute hidden h-full w-full group-aria-disabled:block"
  />
  <img
    src="./assets/images/minimized.jpeg"
    class="absolute bottom-2 hidden h-5 w-full sm:group-aria-hidden:block"
  />
  <img
    src="./assets/images/minimized-xs.jpeg"
    class="absolute bottom-2 -left-6 hidden h-20 w-full max-sm:group-aria-hidden:block"
  />
  <div
    class="absolute right-1 flex h-3 w-4/12 max-w-78 flex-row group-aria-disabled:hidden group-aria-expanded:right-3 group-aria-hidden:bottom-2 group-aria-hidden:left-0 group-aria-hidden:h-20 group-aria-hidden:w-full max-sm:group-aria-hidden:w-4 sm:group-aria-hidden:h-5 lg:h-5"
  >
    <button
      id="portrait-minimize-button"
      class="hidden flex-1 cursor-pointer group-aria-hidden:flex md:flex"
    ></button>
    <button
      id="portrait-maximize-button"
      class="hidden flex-1 cursor-pointer group-aria-hidden:hidden md:flex"
    ></button>
    <button
      id="portrait-close-button"
      class="flex flex-2 cursor-pointer group-aria-hidden:hidden"></button>
  </div>
  <img
    src="./assets/images/portrait.png"
    class="h-full w-full object-center p-1 group-aria-expanded:content-stretch group-aria-hidden:hidden"
  />
</div>
